button {
    padding: 18px;
    background-color: #4b9cd3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3579a8;
}


.login-page {
    background-color: #f2f5fa;
    padding: 20px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    flex-direction: column;
    box-shadow: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 30px;
}