
/*!*a {*!*/
/*!*    color: #fff;*!*/
/*!*    text-decoration: none;*!*/
/*!*}*!*/

/*.container {*/
/*    margin: 50px auto;*/
/*    max-width: 600px;*/
/*    padding: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    box-shadow: none;*/
/*}*/

/*label {*/
/*    margin-bottom: 10px;*/
/*}*/

/*input {*/
/*    padding: 10px;*/
/*    margin-bottom: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*}*/

button {
    padding: 18px;
    background-color: #4b9cd3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3579a8;
}


.login-page {
    background-color: #f2f5fa;
    padding: 20px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    flex-direction: column;
    box-shadow: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 30px;
}

/*button {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*button:hover {*/
/*    background-color: #3e8e41;*/
/*}*/